nameOverride: "generic-helm-chart"
fullnameOverride: "generic-helm-chart"

## Labels attach to all resources
# commonLabels:
#   label: label

serviceAccount:
  create: true
  annotations: {}
  name: ""

deployment:
  replicaCount: 1
  imagePullSecrets:
    - name: regcred
  image:
    repository: ""
    pullPolicy: IfNotPresent
    tag: ""
  livenessProbe: {}
  readinessProbe: {}
  podAnnotations: {}
  podSecurityContext: {}
  securityContext: {}
  resources: 
    requests:
      memory: 200Mi
      cpu: 100m
    limits:
      memory: 200Mi
      cpu: 100m
  nodeSelector: {}
  tolerations: []
  affinity: {}
  ## Environment Variables attach to the pod directly
  # env:
  #   demo: demo
  envFrom:
    - type: configmap
      suffix: config
    - type: configmap
      suffix: keycloak-config
    - type: secret
      suffix: secret

# configMap:
#   - suffix: config
#     data: 
#       test1: test1
#       test2: test2
#   - suffix: keycloak-config
#     data:
#       test3: test3
#       test4: test4

service:
  type: ClusterIP
  port: 
    - port: 8080
      containerPort: 8080
      targetPort: http
      protocol: TCP
      name: http

ingress:
  enabled: false
  # className: nginx
  # hosts:
  #   - host: demo.alpha.metazens.xyz
  #     http:
  #       paths:
  #       - backend:
  #           service:
  #             name: argocd-server
  #             port:
  #               number: 80
  #         path: /
  #         pathType: Prefix

externalSecret:
  enabled: true
  suffix: secret
  secretStore: secretstore-alpha
  secrets:
    - secretKey: password
      remoteRef:
        key: /demo/postgresql/password
    - secretKey: username
      remoteRef:
        key: /demo/postgresql/username

goDBMigration:
  enabled: false
  externalSecret:
    secretStore: secretstore-alpha
    secrets:
      - secretKey: gitlab_token_username
        remoteRef:
          key: /gitlab/metazen/accesstoken/username
      - secretKey: gitlab_token_password
        remoteRef:
          key: /gitlab/metazen/accesstoken/password
      - secretKey: username
        remoteRef:
          key: /demo/postgresql/dbmigration/username
      - secretKey: password
        remoteRef:
          key: /demo/postgresql/dbmigration/password
  job:
    git:
      path: "gitlab.int.hextech.io/602/db/migrations"
      ref: "master"
    imagePullSecrets:
      - name: regcred
    env:
      DB_URL: ""
      PGSSLMODE: "disable"